boto3==1.6.11
deap==1.2.2
future==0.16.0
gmpy==1.17
numpy==1.14.2
pandoc==1.0.0b2
ply==3.10
pyfst==0.2.3
pypandoc==1.4
pytest
redis==2.10.6
requests==2.31.0
scipy==0.19.1
git+ssh://git@gitlab.com/taucompling/fado-python3.git@master
